%h1= @placement.title
%p= @placement.description

= link_to "Retour", root_path, class: "btn btn-sm btn-default"
= link_to "Éditer", edit_placement_path, class: "btn btn-sm btn-default"
= link_to "Supprimer", root_path, method: :delete, data:{confirm: "Êtes vous sûr de vouloir supprimer ce placement ?"}, class: "btn btn-sm btn-default"
